.form {
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  gap: 15px;
  position:relative;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.form input{
  width: 60%;
  border: none;
  border-bottom: 1px solid #000;
  outline:none;
  padding: 4px 0
}

.form button{
  background-color: #EE685B;
  padding: 5px 15px;
  border-radius: 5px;
  color: #FFF;
  width: 100px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(238, 104, 91, 0.6)
}